$main-gold: rgb(255, 215, 0);

.homie{
    position: relative;
    padding-top: 90px;
    &_topBanner{
        background-color: white;
        position: fixed;
        top: 0;
        padding-top: 10px;
        display: flex;
        align-items: center;
        left: 2vw; width: 94vw;
        border-bottom:1px solid silver;
        overflow: hidden;
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 5px;
            animation: oval 4s infinite;
            background-color: white;
            z-index: 5;
            img{
                object-fit: contain;
                width: 100%; height: 100%;
                border: none !important;
            }
            div{
                width: 35px;
                height: 35px;
                padding: 3px;
                animation: oval_minus 4s infinite;
            }
            :nth-child(1){
                border-right: 2px solid black;
                border-bottom: 2px solid black;
            }
            :nth-child(2){
                border-bottom: 2px solid black;

            }
            :nth-child(3){
                border-right: 2px solid black;
            }
        }
        #back{
            position: relative;
            z-index: 9 !important;
            height: 80px;
            min-width: 40px;
            display: grid;
            align-items: center;
            justify-content: center;
            background-color: white;
            font-size: xx-large;
            transform: rotate(180deg);
            border-radius: 50%;
            min-width: 40px; height: 40px;
            img{
                width: 25px;
                height: auto;
                object-fit: contain;
            }
        }
        &_menu{
            display: flex;
            column-gap: 1vw;
            padding-left: 1vw;
            &_double{
                background-color: rgb(241, 239, 239);
                display: flex;
                column-gap:5px;
                padding: 5px 10px;
                border-radius: 5px;
                white-space: nowrap;
                font-weight: 300;
                border: none;
                background: transparent;
                font-size: large;
            }
        }
        #name{
            height: 80px;
            position: fixed;
            right: 1vw;
            padding-right: 4vw;
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 60px;
            background-color: white;
            letter-spacing: -4px;
            font-weight: 300;
            color: crimson;
            #forward{
                position: relative;
                right: 20px;
                background-color: white;
                padding-top: 5px;
                border-radius: 50%;
                min-width: 40px; height: 40px;
                img{
                    width: 25px;
                    height: auto;
                    object-fit: contain;
                }
            }
            #double{
                letter-spacing: 0;
                font-size: 25px;
                padding-top: 15px;
                font-weight: 400;
                color: black;
                img{
                    object-fit: contain;
                    width: 30px;
                    height: 30px;
                    position: relative;
                    top:-5px;
                }
            }
        }
    }

    &_videocontainer{
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        background-color: black;
        video{
            width: 100%;
            height: 100%;
            max-width: 600px;
            object-fit: contain;
            position: relative;
            background-color: black;
            padding-top: 90px;
        }
    }
    &_fights{
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1vw;
        padding: 10px 2vw;
        padding-left: calc(80px + 4vw);
        justify-items: center;
        padding-right: 3vw;
        &_each{
            img{
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 15px;
            }
        }
        &_column{
            position: fixed;
            left:2vw;
            //border: 2px solid red;
            width: 80px;
            display: grid;
            row-gap: 30px;
            &_each{
                div{
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    font-weight: 300;
                }
            }
        }
    }
}



@media (max-width: 991.98px) { 
    .homie{
        &_topBanner{
            border-bottom:1px solid blue;
        }
        &_fights{
            grid-template-columns: 1fr 1fr;
            &_each{

            }
        }
    }
 }


@media (max-width: 767.98px) { 
    .homie{
        &_topBanner{
            border-bottom:1px solid red;
        }
        &_fights{
            grid-template-columns: 1fr;
            &_each{
                max-width: 400px;
            }
        }
    }
 }


@media (max-width: 575.98px) { 
    .homie{
        &_topBanner{
            border-bottom:1px solid green;
        }
        &_fights{
            padding-left: 80px;
            &_each{
                width: calc(90vw - 70px);
            }
        }
    }
 }


@keyframes oval {
    0%{
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(0deg);
    }
    55%{
        transform: rotate(90deg);
    }
    70%{
        transform: rotate(180deg);
    }
    85%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

@keyframes oval_minus {
    0%{
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(0deg);
    }
    55%{
        transform: rotate(-90deg);
    }
    70%{
        transform: rotate(-180deg);
    }
    85%{
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}