$main-gold: rgb(255, 215, 0);

.homie{
    position: relative;
    &_topBanner{
        //background-color: $main-gold;
        .grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 5px;
            img{
                object-fit: contain;
                width: 100%; height: 100%;
                border: none !important;
            }
            div{
                width: 35px;
                height: 35px;
                padding: 3px;
            }
            :nth-child(1){
                border-right: 2px solid black;
                border-bottom: 2px solid black;
            }
            :nth-child(2){
                border-bottom: 2px solid black;

            }
            :nth-child(3){
                border-right: 2px solid black;
            }
        }
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 2vw;
        border:1px solid silver;
    }

    &_videocontainer{
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        background-color: black;
        video{
            width: 100%;
            height: 100%;
            max-width: 600px;
            object-fit: contain;
            position: relative;
            background-color: black;
            padding-top: 90px;
        }
    }
    &_fights{
        margin-top: 15px;
        border: 2px solid white;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 10px 2vw;
        img{
            width: 31vw;
            height: 20vw;
            border-radius: 10px;
        }
        button{
            width: 100px;
        }
        color: yellow;
    }
}