$main-gold: rgb(255, 215, 0);

.slider{
    position: fixed;
    height: 100px;
    top:80px;
    #back{
        position: relative;
        top:25px;
        left: 10px;
        z-index: 90 !important;
        height: 80px;
        min-width: 40px;
        display: grid;
        align-items: center;
        justify-content: center;
        background-color: white;
        font-size: xx-large;
        transform: rotate(180deg);
        border-radius: 50%;
        min-width: 40px; height: 40px;
        border: none;
        &:hover{
            background-color: rgb(166, 220, 242);
        }
        img{
            width: 20px;
            height: auto;
            object-fit: contain;
            opacity: 0.6;
        }
    }
    &_topBanner{
        background-color: white;
        top: 0;
        padding-top: 10px;
        display: flex;
        align-items: center;
        border-bottom:1px solid rgb(238, 237, 237);
        height: 80px;
        overflow: hidden;
        position: absolute;
        z-index: 1 !important;
        padding-left: 10px;
        #backshadow{
            position: absolute;
            top:0;
            left: -20px;
            height: 100%;
            width: 50px;
            background-color: white;
            z-index: 1 !important;
            box-shadow: 16px 0px 11px 13px white;
        }
        &_menu{
            display: flex;
            column-gap: 10px;
            position: relative;
            white-space: nowrap !important;
            &_double{
                background-color: rgb(244, 240, 240);
                display: flex;
                padding: 5px 10px;
                border-radius: 5px;
                white-space: nowrap !important;
                font-weight: 300;
                border: none;
                font-size: medium;
            }
        }
        #name{
            position: fixed;
            right: 10px;
            #forward{
                position: relative;
                background-color: white;
                border-radius: 50%;
                min-width: 40px; height: 40px;
                border: none;
                &:hover{
                    background-color: rgb(166, 220, 242);
                }
                img{
                    width: 20px;
                    height: auto;
                    object-fit: contain;
                    opacity: 0.6;
                }
            }
            #shadow{
                position: absolute;
                top:0;
                height: 100%;
                width: 50px;
                background-color: white;
                z-index: -1 !important;
                box-shadow: -4px 0px 20px 13px rgb(255, 255, 255);
            }
        }
    }
}