.video_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top:100px;
    height: calc(100vh - 130px);
    max-height: 600px;
    video{
        min-width: 900px;
        max-width: 900px;
        object-fit: cover;
        position: relative;
    }
}

.more{
    position: relative;
    top:100px;
    margin-top: 20px;
    display: flex;
    width: 96vw;
    left: 2vw;
    overflow-x: scroll;
    &_each{
        min-width: 200px;
        aspect-ratio: 10/8;
        background-image: url("/film.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

